In [1]:
import numpy as np
import pyspark
import pandas as pd
spark = pyspark.sql.SparkSession.builder.getOrCreate()

# Exercises
## Create a directory named spark within your ds-methodologies repository. 
### This is where you will do the exercises for this module.

### Create a jupyter notebook or python script named spark101 for this exercise.

#### 1. Create a spark data frame that contains your favorite programming languages.
    - The name of the column should be language
    - View the schema of the dataframe
    - Output the shape of the dataframe
    - Show the first 5 records in the dataframe

In [2]:
my_favorite_languages ={'language': ['Python', 'C Programming', 'Java','C++', 'JavaScript', 'HTML']}

In [3]:
my_favorite_languages_df = pd.DataFrame(my_favorite_languages)
my_favorite_languages_df

        language
0         Python
1  C Programming
2           Java
3            C++
4     JavaScript
5           HTML

In [4]:
my_favorite_languages_spark_df = spark.createDataFrame(pd.DataFrame({'language': ['Python', 'C Programming', 'C++', 'Java', 'JavaScript', 'HTML', 'Kotlin', 'SQL']}))
my_favorite_languages_spark_df

DataFrame[language: string]

In [7]:
# view my_favorite_languages_spark_df dataframe
my_favorite_languages_spark_df.show()

+-------------+
|     language|
+-------------+
|       Python|
|C Programming|
|          C++|
|         Java|
|   JavaScript|
|         HTML|
|       Kotlin|
|          SQL|
+-------------+

In [8]:
# view my_favorite_languages_spark_df Schema
my_favorite_languages_spark_df.printSchema()

root
 |-- language: string (nullable = true)

In [10]:
# # view my_favorite_languages_spark_df shape
# my_favorite_languages_spark_df.shape.show()

AttributeError: 'DataFrame' object has no attribute 'shape'

#### 2. Load the mpg dataset as a spark dataframe.

    a. Create 1 column of output that contains a message like the one below:


        `The 1999 audi a4 has a 4 cylinder engine.`

        For each vehicle.

    b. Transform the trans column so that it only contains either manual or auto.

#### 3. Load the `tips` dataset as a spark dataframe.

    a. What percentage of observations are smokers?
    b. Create a column that contains the tip percentage
    c. Calculate the average tip percentage for each combination of sex and smoker.